body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

.app-header {
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

.winter-beautiful {
    padding: 5px 5px;
    display: flex;
    justify-content: flex-end;
}

* {
    box-sizing: border-box;
}