body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

.app-header {
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}